<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336030585709-52c2vmk92haoi7sq8ac3bc5os0gis7om.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336030585709-52c2vmk92haoi7sq8ac3bc5os0gis7om</string>
	<key>API_KEY</key>
	<string>AIzaSyDHS-Wr-qvKfalLzZwVfs5HxbOGbDho6Fc</string>
	<key>GCM_SENDER_ID</key>
	<string>336030585709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cookify.com.Cookify</string>
	<key>PROJECT_ID</key>
	<string>cookify-45428</string>
	<key>STORAGE_BUCKET</key>
	<string>cookify-45428.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336030585709:ios:89fd4689df6dc8f3cac064</string>
</dict>
</plist>